<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonder4work.mapper.OrderItemsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wonder4work.pojo.OrderItems">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="item_id" property="itemId" />
        <result column="item_img" property="itemImg" />
        <result column="item_name" property="itemName" />
        <result column="item_spec_id" property="itemSpecId" />
        <result column="item_spec_name" property="itemSpecName" />
        <result column="price" property="price" />
        <result column="buy_counts" property="buyCounts" />
    </resultMap>

</mapper>
