<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonder4work.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wonder4work.pojo.Orders">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_mobile" property="receiverMobile" />
        <result column="receiver_address" property="receiverAddress" />
        <result column="total_amount" property="totalAmount" />
        <result column="real_pay_amount" property="realPayAmount" />
        <result column="post_amount" property="postAmount" />
        <result column="pay_method" property="payMethod" />
        <result column="left_msg" property="leftMsg" />
        <result column="extand" property="extand" />
        <result column="is_comment" property="isComment" />
        <result column="is_delete" property="isDelete" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

</mapper>
